*{
  box-sizing: border-box;
}
a:active, a:visited, a:link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a:hover{
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

.container{
  background-image: url(1.jpg);
  width: 100vw;
  height: 100vh;
}

.bar{
  background-color: rgba(0,0,0,.6);
  padding: .3em;
  font: bold 2.5em sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*
top: 50%;
transform: translateY(-50%);*/

.play{
  width: .8em;
}

.menu{
  width: .8em;
}

.menu svg g{
  fill: white;
}

.play svg g{
  fill: white;
}

.pages{
  background-color: rgba(0,0,0,.6);
  text-transform: uppercase;
  font-size: 2em;
  font: sans-serif;
  color: white;
  height: 80vh;
  /*height: calc(80vh);*/
}

.pages ul{
  height: 100%;
  padding: 3% 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
