*{
  box-sizing: border-box;
}

/*html{
  font-size: 1%;
}*/

a:active, a:visited, a:link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a:hover{
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

.container{
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bar{
  background-color: rgba(0,0,0,.6);
  /*background-size: 20vh;*/
  padding: 15px;
  font: bold 35px sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*
top: 50%;
transform: translateY(-50%);*/

.play{
  width: .8em;
}

.menu{
  width: .8em;
}

.menu svg g{
  fill: white;
}

.play svg g{
  fill: white;
}

.pages{
  background-color: rgba(0,0,0,.6);
  text-transform: uppercase;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  height: calc(100vh - 35px - 35px);
}

.pages ul{
  /*background-color: rgba(0,0,0,.6);*/
  height: 100%;
  padding: 7% 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
